.wrapper{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
}

.nav{
    display: flex;
}

.nav_item{
    padding: 1rem 3rem 1rem 3rem;
    border: 1px solid black;
}

.nav_item:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav_item:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hero{
    border: 1px solid black;
    padding: 2rem 5rem 2rem 5rem;
}

.logo{
    height: 2em;
    padding: 5px;
}

.gambar{
    width: 200px;
    height: 200px;
    display: none;
}

#headquarter{
    border: 1px solid black;
    padding: 2rem 5rem 2rem 5rem;
}

.group_headquarter{
    display: flex;
    gap: 2rem;
}

.hq{
    font-size: large;
    text-align: center;
}

.headquarter_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

#message_us{
    border: 1px solid black;
    padding: 2rem 5rem 2rem 5rem;
}

.form{
    display: flex;
    gap: 8rem;
}

.input_table{
    width: 100%;
    margin-bottom: 1rem;
}

.main_form{
    width: 50%;
}

.display_form{
    width: 50%;
    border:2px solid black;
    margin-top:1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

input:not(.gender){
    width: 100%;
    height: 2rem;
}

#submit{
    width: 100%;
}

.display_form{
    padding: 1rem 0 1rem 0;
}

footer{
    border: 1px solid black;
    padding: 2rem 5rem 2rem 5rem;
    text-align: end;
}

@media only screen and (max-width: 800px){
    .wrapper{
        flex-direction: column;
    }

    .nav{
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav_item{
        border-radius: 3px;
    }

    .group_headquarter{
        flex-direction: column;
        align-items: center;
    }

    .form{
        flex-direction: column;
    }

    .main_form, .show_table{
        align-items: center;
    }
}